/* Custom scss code here */
@mixin box-shadow($prop) {
  -webkit-box-shadow: $prop;
  -moz-box-shadow: $prop;
  -ms-box-shadow: $prop;
  -o-box-shadow: $prop;
  border-radius: $prop;
}

.capturePhoto {
  max-width: 100%;
  max-height: 50%;
  border-radius: 50%;

  display: block;
  margin: auto;

  @include box-shadow(3px 3px 3px 0px rgba(50, 50, 50, 0.8));
}
