<h2>
  {{ activity.name }}
</h2>
<ion-view title="List">
  <ion-content class="has-header padding">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="searchText" />
    </label>
    <ul class="list">
      <li class="item" ng-repeat="activity in activities | filter:searchText | orderBy:activity.name" ng-click="toggleActivity(activity)">
        <ng-activity ></ng-activity>
      </li>
    </ul>
  </ion-content>
</ion-view>
