<ion-view title="Activities">
  <ion-content class="has-header padding">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="searchText" />
    </label>
    <ul class="list">
      <li class="item" ng-repeat="activity in activities | filter:searchText" ng-click="toggleActivity(activity)">
        <h2>{{ activity.name }}</h2>
        <div class="item item-thumbnail-left" ng-if="activeActivity === activity.id">
          <img src="https://i.chzbgr.com/maxW500/5028242944/h69F5CC95/">
          <dl>
            <dt>Description:</dt>
            <dd>{{ activity.description }}</dd>
            <dt>Tags:</dt>
            <dd>
              <ul>
                <li ng-repeat="tag in activity.tags">
                  {{ tag }}
                </li>
              </ul>
            </dd>
          </dl>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
