/* Custom scss code here */
.capturePhoto {
  max-width: 100%;
  max-height: 50%;
  border-radius: 50%;
  display: block;
  margin: auto;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.8);
  -ms-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.8);
  -o-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.8);
  border-radius: 3px 3px 3px 0px rgba(50, 50, 50, 0.8); }

.map-control {
  position: absolute;
  font-size: 20px;
  color: grey;
  bottom: 100px;
  right: 5px;
  background-color: white;
  padding: 8px 8px 5px 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #888888; }

.map-control:active {
  background-color: #e6e6e6; }
