/* Custom scss code here */
.capturePhoto {
  max-width: 100%;
  max-height: 35%;
  border-radius: 50%;
  display: block;
  margin: auto;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.8);
  -ms-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.8);
  -o-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.8);
  border-radius: 3px 3px 3px 0px rgba(50, 50, 50, 0.8); }

input[type=file] {
  outline: none;
  position: relative;
  text-align: right;
  -moz-opacity: 0;
  /* filter: alpha(opacity: 0); */
  opacity: 0;
  z-index: 2;
  height: 57px;
  width: 120px; }

.uploadWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 45px;
  padding: 0;
  margin: 0;
  z-index: 1;
  line-height: 100%; }

.map-control {
  position: absolute;
  font-size: 20px;
  color: grey;
  bottom: 100px;
  right: 5px;
  background-color: white;
  padding: 8px 8px 5px 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #888888; }

.map-control:active {
  background-color: #e6e6e6; }

.pin-info {
  position: absolute;
  font-size: 20px;
  color: grey;
  bottom: 100px;
  width: 97%;
  margin-left: 6px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #888888; }

.info-close {
  font-size: 12px;
  margin-right: 10px; }

.info-name {
  color: #2883BC; }

.info-desc {
  font-size: 16px; }
